.env
node_modules/*
biome.json

test/*
!test/**/**.test.*

package-lock.json
bun.lockb

.vscode/*

prisma/migrations/*

**/*.js
dist/*

data/log/*
data/setting.json
data/recordings/*
data/lastUsed.record

cache/*

!**/.gitkeep